src/META-INF/wsdl/localhost_8080/calc/calc.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://pack/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://pack/" name="calc">
<types>
<xsd:schema>
<xsd:import namespace="http://pack/" schemaLocation="http://localhost:8080/calc/calc?xsd=1"/>
</xsd:schema>
</types>
<message name="mul">
<part name="parameters" element="tns:mul"/>
</message>
<message name="mulResponse">
<part name="parameters" element="tns:mulResponse"/>
</message>
<message name="div">
<part name="parameters" element="tns:div"/>
</message>
<message name="divResponse">
<part name="parameters" element="tns:divResponse"/>
</message>
<message name="suma">
<part name="parameters" element="tns:suma"/>
</message>
<message name="sumaResponse">
<part name="parameters" element="tns:sumaResponse"/>
</message>
<message name="resta">
<part name="parameters" element="tns:resta"/>
</message>
<message name="restaResponse">
<part name="parameters" element="tns:restaResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="calc">
<operation name="mul">
<input wsam:Action="http://pack/calc/mulRequest" message="tns:mul"/>
<output wsam:Action="http://pack/calc/mulResponse" message="tns:mulResponse"/>
</operation>
<operation name="div">
<input wsam:Action="http://pack/calc/divRequest" message="tns:div"/>
<output wsam:Action="http://pack/calc/divResponse" message="tns:divResponse"/>
</operation>
<operation name="suma">
<input wsam:Action="http://pack/calc/sumaRequest" message="tns:suma"/>
<output wsam:Action="http://pack/calc/sumaResponse" message="tns:sumaResponse"/>
</operation>
<operation name="resta">
<input wsam:Action="http://pack/calc/restaRequest" message="tns:resta"/>
<output wsam:Action="http://pack/calc/restaResponse" message="tns:restaResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://pack/calc/helloRequest" message="tns:hello"/>
<output wsam:Action="http://pack/calc/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="calcPortBinding" type="tns:calc">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="mul">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="div">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="suma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="resta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="calc">
<port name="calcPort" binding="tns:calcPortBinding">
<soap:address location="http://localhost:8080/calc/calc"/>
</port>
</service>
</definitions>